#chat {
  height: 250px;
  overflow: scroll;
  width: 40%;
  align-content: left;
  margin-left: 30%;
  margin-right: 30%;
  overflow-x: hidden;
  border: 1px solid #666;
}

#chat td {
  width: 1px;
}

input[type=text] {
  width: 400px;
  height: 30px;
  float:left;
  margin-left: 30%;
}

input[type=submit] {
  float:left;
  height: 30px;
}
