#ausgabe {
  background-color: #ffb429;
  width: 100%;
  position: relative;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  margin-right: 0em;
  margin-left: 0em;
  height: 400px
}

#chat {
  height: 250px;
  overflow: scroll;
  width: 400px;
  align-content: left;
  margin-left:30%;
  overflow-x: hidden;
  border: 1px solid #666;
}

#chat td {
  width: 50px;
}

#ausgabe h2 {
  color: white;
  background-color: #ffb429;
}

input[type=text] {
  width: 400px;
  height: 30px;
  float:left;
  margin-left: 30%;
}

input[type=submit] {
  float:left;
  height: 30px;
}
