.container  {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.slider-wrapper  {
	width: 500px;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.inner-wrapper  {
	width: 500%;
	height: 100%;
	position: relative;
	left: -100%;
}

.slide {
	width: calc(100% / 5);
	height: 100%;
	float: left;
	font-size: 100px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

li {
	list-style-type: none;
}

.button  {
	width: 30px;
	height: 30px;
	border-top: 2px solid black;
	position:absolute;
	cursor: pointer;
}

.prev  {
	border-left: 2px solid black;
	left: 10%;
	transform: rotate(-45deg);
}

.next  {
 border-right: 2px solid black;
 right: 10%;
 transform: rotate(45deg);
}

figure{
  margin: 0;
}

figure.einzel {
  display: inline-block;
  padding: 10px;
  width: 33%;
  border: 1px solid gainsboro;
}
